.sidebar-container
  figure
    img(src="#{conf.assets_path}/img/logo.svg")

  input(type='text', placeholder='Search something...')

  nav
    ul.vertical-navigation
      li: a(href="#") 
        i.icon-basic_home 
          span Dashboards
      li: a(href="#") 
        i.icon-basic_home 
          span UI Elements
      li: a(href="#") 
        i.icon-basic_home 
          span Forms
      li: a(href="#") 
        i.icon-basic_home 
          span Tables
      li: a(href="#") 
        i.icon-basic_home 
          span Maps
      li: a(href="#")
        i.icon-basic_home 
          span Media
      li: a(href="#")
        i.icon-basic_home 
          span Layouts
      li: a(href="#") 
        i.icon-basic_home 
          span Chats
      li: a(href="#") 
        i.icon-basic_home 
          span Pages

