.top-header {
	  background: @primary-light;
	  height: 80px;
	  border-bottom: 2px solid #ccc;
}

.top-header .navbar-nav > li > a{
	padding-top: 30px;
	padding-bottom: 30px;
	color: @primary-normal;
}

.navbar-nav > li > a:hover, .navbar-nav > li > a:focus {
  color: @primary-active;
}